#navButton:hover{
    
    color: rgb(164, 225, 184);
    background-color: rgba(249,246, 239, 0.5);

}

#navButton{
    width: 295px; 
    height: 35px;
    margin: 0px;
    margin-top: 40px;
    margin-left: 0%;
    padding: 0px;
    color: rgb(227, 227, 231);
    font-family: sans-serif;
    font-weight: light;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.nav{
    background-color: rgb(185, 152, 212);
}

